

body {
    background-color: #f0f4f8;
    margin: 0;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}

#layout {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 40px;
   overflow-y: auto
}

.movie-card {
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fdbdf8;
  margin-bottom: 20px;
}

.add-btn {
    background-color: #2196f3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.add-btn:hover {
    transform: scale(1.20);
    transition: all 0.3s ease;
}
